.anime-link {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: #1a1a1a;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  width: max-content;
}

.anime-link-label {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  pointer-events: none;
}

.anime-link-icon {
  width: 4rem;
  height: 1.25rem;
  background-color: #ffc22a;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

a.link-dark {
  color: #ffffff;
}

a.link-light {
  color: #ffffff;
}

.anime-link.anime-link-dark .anime-link-icon {
  background-color: #1a1a1a;
}
