.gallery-section {
  position: relative;
  min-height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-image: url("/gallery/gall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.gallery-heading {
  position: relative;
  z-index: 2;
  padding: 2rem;
  text-align: center;
  color: #fff;
  font-family: Manrope;
  font-weight: 400;
}

.gallery-heading p {
  margin-bottom: 25px;
  color: #c31b07;
  font-family: Inter;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.gallery-heading h2 {
  max-width: 1000px;
  font-size: clamp(2.5rem, 5vw, 5rem);
  line-height: 1.1;
}

.gallery-heading p,
.gallery-heading h2 {
  position: relative;
  z-index: 2;
}

@media (max-width: 1024px) {
  .gallery-section {
    padding: 6rem 1.5rem;
  }

  .gallery-heading h2 {
    font-size: clamp(2rem, 8vw, 3.5rem);
  }
}